
body {background: #70A9A1;
    font-family: Arial, Helvetica, sans-serif;
  }
#landing h1 {
  color: #f6f1d1;
  text-align: center;
}
#landing {
  color: #f6f1d1;
}

#info-carousel{
  color:#f6F1D1;
  font-size: 18px;
  text-shadow: 1px 1px #0b2027
  
  
}
.carousel-inner {
  width: 25;
  height: auto;
  float: none;
  margin: auto;
  border: 2px solid #0b2027;
}
.carousel-inner .card {
  background-color:  #40798C;
  border-style: none;
}

.logo{
  display: block;
  float: left;
  margin-right: 1%;
  
  
}
#money{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 50% solid black;
  margin-top: 2%;
  margin-bottom: 1%;
  box-shadow: 0 8px 24px 0 #f6F1D1;
  width: 60%;
  border-radius: 8px;
}


#test-chart{
  width: 500px; 
  height: 500px;
}
#company-info{
  display: none;
}


.sideNav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #0b2027;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sideNav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #70A9A1;
  display: block;
  transition: 0.3s;
}

.sideNav a:hover {
  color: #f6F1D1;
}

.sideNav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
#results-list a{
  color: #f6F1D1;
  text-decoration: none;
}

#results-list a:hover{
  color:#40798C;
  text-decoration: none;
}
#detail-div .card{
  background-color:#f6F1D1;
  padding: 3%;

}
#detail-div .card .table{
  
  background-color:#62b5d1;
  color: #f6F1D1;
  text-shadow: 1px #0b2027;

}
.btn{
  background-color:#62b5d1;
}

#chart-info{
  background-color: white;
  box-shadow: 1px 1px 5px #555 inset;
  border-radius: 5px;
  
}

.carouselChart{
  background-color: white;
  box-shadow: 1px 1px 5px #555 inset;
}

#searchBar {
  margin-bottom:2px ;
}
