
 
.carousel-inner {
  width: 25;
  height: auto;
  float: none;
  margin: auto;
}
.logo{
  display: block;
  float: left;
  margin-right: 1%;
  border: solid black;
  
}



#test-chart{
  width: 500px; 
  height: 500px;
}
